#navbar {
    background-color: #000000;
}
#nav-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px;
    line-height: 22px;
    color: #ffffff;
}
#shopify{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #343a40;

}
#nav-schedule-demo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px;
    line-height: 22px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.navbar-toggler {
    background-color: #ffffff;
}

